{% extends "expert/expert_home.html" %}
{% block body %}

<link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">


<div class="container mt-5">
  <div class="card shadow-sm">
    <div class="card-header bg-success text-white">
      Notifications
    </div>

    <div class="card-body">


        <table class="table table-bordered table-striped" id="example">
          <thead class="table-light">
            <tr>
              <th>Notification</th>
              <th>Details</th>
              <th>Date</th>
            </tr>
          </thead>
          <tbody>
          {% for i in data %}
            <tr>
              <td>{{ i.notification }}</td>
              <td>{{ i.details }}</td>
              <td>{{ i.date }}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>


<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>

<!-- ✅ DataTables JS -->
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>

<!-- DataTables Initialization -->
<script>
  $(document).ready(function () {
      $('#example').DataTable({
          "paging": true,
          "ordering": true,
          "searching": true
      });
  });
</script>

{% endblock %}
